[package]
name = "x402-axum"
version = "0.8.0"
edition = "2024"
description = "Axum middleware for enforcing x402 protocol payments on protected routes"
license = "Apache-2.0"
authors = ["Sergey Ukustov <sergey@ukstv.me>"]
repository = "https://github.com/x402-rs/x402-rs"
homepage = "https://x402.rs"
documentation = "https://docs.rs/x402-axum"
keywords = ["axum", "middleware", "x402", "payments", "stablecoin"]
categories = ["web-programming::http-server", "authentication", "cryptography", "finance", "network-programming"]
readme = "README.md"

[dependencies]
x402-types = { path = "../x402-types" }
url = { version = "2.5", features = ["serde"] }
serde_json = { version = "1.0" }
reqwest = { version = "0.13", features = ["json"] }
serde = { version = "1.0", features = ["derive"] }
thiserror = { version = "2.0" }
tower = { version = "0.5" }
http = { version = "1.4" }
axum-core = { version = "0.5" }
tokio = { version = "1.45", features = ["sync"] }

# Telemetry
tracing = { version = "0.1", optional = true }

[dev-dependencies]
wiremock = "0.6"
axum = { version = "0.8" }
alloy-primitives = { version = "1.4.1" }
x402-chain-eip155 = { path = "../chains/x402-chain-eip155" }

[features]
default = []
telemetry = ["dep:tracing"]
