[workspace]
resolver = "3"
members = [
  "crates/x402-axum",
  "examples/x402-axum-example",
  "crates/x402-reqwest",
  "examples/x402-reqwest-example",
  "crates/x402-rs",
]

[workspace.dependencies]
# Local crates
x402-axum = { path = "crates/x402-axum", version = "0.6.1" }
x402-rs = { path = "crates/x402-rs", version = "0.9.2" }
x402-reqwest = { path = "crates/x402-reqwest", version = "0.4.0" }