[package]
name = "x402-rs"
version = "0.11.0"
authors = ["Sergey Ukustov <sergey@ukstv.me>"]
edition = "2024"
license = "Apache-2.0"
repository = "https://github.com/x402-rs/x402-rs"
description = "x402 payments in Rust: verify, settle, and monitor payments over HTTP 402 flows"
readme = "README.md"
homepage = "https://x402.rs"
documentation = "https://docs.rs/x402-rs"
keywords = ["blockchain", "payments", "x402", "stablecoin", "http-402"]
categories = ["cryptography", "finance", "network-programming", "web-programming::http-server"]

[dependencies]
axum = { version = "0.8" }
tokio = { version = "1.45", features = ["full"] }
tokio-util = { version = "0.7.16", features = ["rt"] }
dotenvy = { version = "0.15.7" }
serde_json = { version = "1.0.145", features = ["raw_value"] }
clap = { version = "4.5", features = ["derive"] }
tower = { version = "0.5.2" }
tower-http = { version = "0.6.6", features = ["trace", "cors"] }
serde = { version = "1.0.219", features = ["derive"] }
once_cell = { version = "1.21.3" }
url = { version = "2.5.4", features = ["serde"] }
thiserror = { version = "2.0.12" }
base64 = { version = "0.22.1" }
async-trait = { version = "0.1.88" }
dashmap = { version = "6.1.0" }
rand = { version = "0.9.2" }
rust_decimal = { version = "1.39.0" }
serde_with = { version = "3.16.1" }
regex = { version = "1.12.2" }

# EVM: Alloy
alloy-primitives = { version = "1.4.1" }
alloy-network = { version = "1.1.3" }
alloy-signer = { version = "1.1.3" }
alloy-signer-local = { version = "1.1.3" }
alloy-sol-types = { version = "1.4.1", features = ["json"] }
alloy-contract = { version = "1.1.3" }
alloy-provider = { version = "1.1.3" }
alloy-rpc-client = { version = "1.1.3" }
alloy-rpc-types-eth = { version = "1.1.3" }
alloy-transport = { version = "1.1.3", features = ["throttle"] }
alloy-transport-http = { version = "1.1.3" }

# Solana
solana-compute-budget-interface = { version = "3.0.0" }
solana-pubkey = { version = "4.0.0" }
bs58 = { version = "0.5.1" }
solana-signature = { version = "3.1.0" }
solana-transaction = { version = "3.0.2 "}
solana-signer = { version = "3.0.0" }
solana-account = { version = "3.2.0" }
solana-message = { version = "3.0.1" }
solana-keypair = { version = "3.1.0" }
solana-commitment-config = { version = "3.1.0" }
spl-token = { version = "9.0.0" }
spl-token-2022 = { version = "10.0.0" }
solana-client = { version = "3.1.4" }
bincode = { version = "1.3.3" }
futures-util = { version = "0.3.31" }

# Tracing and OpenTelemetry
tracing = { version = "0.1.41" }
tracing-subscriber = { version = "0.3.19", features = ["env-filter"] }
opentelemetry = { version = "0.30.0" }
opentelemetry_sdk = { version = "0.30.0" }
opentelemetry-semantic-conventions = { version = "0.30.0", features = ["semconv_experimental"] }
tracing-core = { version = "0.1.34" }
tracing-opentelemetry = { version = "0.31.0" }
opentelemetry-otlp = { version = "0.30.0", features = ["metrics", "grpc-tonic"] }
opentelemetry-stdout = { version = "0.30.0", features = ["trace", "metrics"] }

[features]
telemetry = []

[workspace]
members = [
  "crates/x402-axum",
  "examples/x402-axum-example",
  "crates/x402-reqwest",
  "examples/x402-reqwest-example",
  "."
]
