{
  "port": 8080,
  "host": "0.0.0.0",
  "chains": {
    "eip155:84532": {
        "v1_name": "base-sepolia",
        "eip1559": true,
        "flashblocks": true,
        "usdc": {
            "address": "0x036CbD53842c5426634e7929541eC2318f3dCF7e",
            "decimals": 6,
            "eip712": {
                "name": "USDC",
                "version": "2"
            }
        }
    },
    "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp": {
        "v1_name": "solana",
        "usdc": {
            "address": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "decimals": 6
        }
    }
  }
}