{
  "port": 8080,
  "host": "0.0.0.0",
  "chains": {
    "eip155:84532": {
      "_comment": "Base Sepolia"
      "eip1559": true,
      "flashblocks": true,
      "signers": [
          "0xWALLET"
      ],
      "rpc": [
        {
          "http": "https://rpc.com/eip155/84532",
          "rate_limit": 50
        }
      ]
    },
    "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp": {
      "_comment": "Solana Mainnet"
      "signer": "SOLANA_PRIVATE_KEY",
      "rpc": "https://rpc.com/solana/5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
      "pubsub": "wss://rpc.com/solana/5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp"
    }
  },
  "schemes": [
      {
        "id": "v1-eip155-exact",
        "chains": "eip155:*"
      },
      {
        "id": "v2-eip155-exact",
        "chains": "eip155:*"
      },
      {
        "id": "v1-solana-exact",
        "chains": "solana:*"
      },
      {
        "id": "v2-solana-exact",
        "chains": "solana:*"
      }
    ]
}