[package]
name = "x402-reqwest"
version = "0.5.0"
edition = "2024"
description = "Wrapper for reqwest for transparent x402 payments"
license = "Apache-2.0"
authors = ["Sergey Ukustov <sergey@ukstv.me>"]
repository = "https://github.com/x402-rs/x402-rs"
homepage = "https://x402.rs"
documentation = "https://docs.rs/x402-reqwest"
keywords = ["axum", "middleware", "x402", "payments", "stablecoin"]
categories = ["web-programming::http-client", "authentication", "cryptography", "finance", "network-programming"]
readme = "README.md"

[dependencies]
x402-rs = { version = "0.11", default-features = false }
reqwest = { version = "0.12" }
http = { version = "1.4" }
reqwest-middleware = { version = "0.4" }
async-trait = { version = "0.1" }
serde_json = { version = "1.0" }

[features]
telemetry = ["x402-rs/telemetry"]
