[package]
name = "x402-reqwest"
version = "0.4.1"
edition = "2024"
description = "Wrapper for reqwest for transparent x402 payments"
license = "Apache-2.0"
authors = ["Sergey Ukustov <sergey@ukstv.me>"]
repository = "https://github.com/x402-rs/x402-rs"
homepage = "https://x402.rs"
documentation = "https://docs.rs/x402-reqwest"
keywords = ["axum", "middleware", "x402", "payments", "stablecoin"]
categories = ["web-programming::http-client", "authentication", "cryptography", "finance", "network-programming"]
readme = "README.md"

[dependencies]
x402-rs = { version = "0.10", default-features = false }
reqwest = { version = "0.12.15" }
http = { version = "1.3.1" }
reqwest-middleware = { version = "0.4.2" }
tokio = { version = "1.45.1" }
async-trait = { version = "0.1.88" }
rand = { version = "0.9.1" }
serde_json = { version = "1.0.140" }
thiserror = { version = "2.0.12" }

# EVM: Alloy
alloy-primitives = { version = "1.4.1" }
alloy-signer-local = { version = "1.1.3" }
alloy-signer = { version = "1.1.3" }
alloy-sol-types = { version = "1.1.3" }

# Solana
solana-transaction = { version = "2.2.3"}
solana-signature = { version = "2.3.0" }
solana-signer = { version = "2.2.1" }
solana-pubkey = { version = "2.4.0" }
solana-program-pack = { version = "2.2.1" }
solana-message = { version = "2.4.0" }
solana-instruction = { version = "2.3.3" }
solana-hash = { version = "2.3.0" }
solana-compute-budget-interface = { version = "3.0.0" }

solana-sdk = { version = "2.3.1", features = ["full"] }
solana-client = { version = "2.3.7" }
spl-token = { version = "8.0.0" }
spl-token-2022 = { version = "9.0.0" }
spl-associated-token-account = { version = "7.0.0" }
solana-keypair = { version = "2.2.3" }
bincode = { version = "1.3.3" } # Older version due to compatibility with solana-sdk

# Telemetry
tracing = { version = "0.1.41" }

[features]
telemetry = ["x402-rs/telemetry"]
