[package]
name = "x402-reqwest"
version = "0.4.1"
edition = "2024"
description = "Wrapper for reqwest for transparent x402 payments"
license = "Apache-2.0"
authors = ["Sergey Ukustov <sergey@ukstv.me>"]
repository = "https://github.com/x402-rs/x402-rs"
homepage = "https://x402.rs"
documentation = "https://docs.rs/x402-reqwest"
keywords = ["axum", "middleware", "x402", "payments", "stablecoin"]
categories = ["web-programming::http-client", "authentication", "cryptography", "finance", "network-programming"]
readme = "README.md"

[dependencies]
x402-rs = { version = "0.11", default-features = false }
reqwest = { version = "0.12.15" }
http = { version = "1.4.0" }
reqwest-middleware = { version = "0.4.2" }
tokio = { version = "1.48.0" }
async-trait = { version = "0.1.89" }
rand = { version = "0.9.2" }
serde_json = { version = "1.0.145" }
thiserror = { version = "2.0.17" }

# EVM: Alloy
alloy-primitives = { version = "1.4.1" }
alloy-signer-local = { version = "1.1.3" }
alloy-signer = { version = "1.1.3" }
alloy-sol-types = { version = "1.4.1" }

# Solana
solana-transaction = { version = "3.0.2"}
solana-signature = { version = "3.1.0" }
solana-signer = { version = "3.0.0" }
solana-pubkey = { version = "4.0.0" }
solana-program-pack = { version = "3.0.0" }
solana-message = { version = "3.0.1" }
solana-instruction = { version = "3.1.0" }
solana-hash = { version = "4.0.1" }
solana-compute-budget-interface = { version = "3.0.0" }
spl-token = { version = "9.0.0" }
spl-token-2022 = { version = "10.0.0" }
solana-rpc-client = { version = "3.1.4" }
spl-associated-token-account = { version = "8.0.0" }
solana-keypair = { version = "3.1.0" }

# Telemetry
tracing = { version = "0.1.41" }

[features]
telemetry = ["x402-rs/telemetry"]
